@layer base {
  :root {
    /* base colors */
    --grey-50: 250 250 250;
    --grey-100: 238 238 238;
    --grey-200: 232 232 232;
    --grey-300: 154 154 154;
    --grey-400: 63 63 63;
    --grey-500: 38 38 38;
    --grey-600: 29 29 29;
    --grey-700: 24 24 24;
    --grey-800: 20 20 20;
  }

  html[data-theme='light'] {
    --text-high: var(--grey-800);
    --text-medium: var(--grey-500);
    --text-low: var(--grey-400);

    --border-color-primary: var(--grey-100);
    --border-color-secondary: var(--grey-800);

    --shadow-primary: '0px 4px 12px rgba(250, 250, 250, 0.01)'

    --background-color-primary: var(--grey-50);
    --background-color-secondary: 255, 255, 255;
    --background-color-tertiary: var(--grey-100);
    --background-color-contrast: var(--grey-200);
  }
  html[data-theme='dark'] {
    --text-high: var(--grey-50);
    --text-medium: var(--grey-200);
    --text-low: var(--grey-300);

    --border-color-primary: var(--grey-500);
    --border-color-secondary: var(--grey-600);

    --shadow-primary: '0px 4px 12px rgba(0, 0, 0, 0.05)'

    --background-color-primary: var(--grey-800);
    --background-color-secondary: var(--grey-700);
    --background-color-tertiary: var(--grey-600);
    --background-color-contrast: var(--grey-400);
  }
}
